/*bar colors*/
.default-color0.chart-bar { -fx-bar-fill: #990099; }
.default-color1.chart-bar { -fx-bar-fill: #99c2ff; }

.button {
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#e6e6e6, #ffffff);
    -fx-font-style: oblique ;

}

.button:hover {
    -fx-background-color: linear-gradient(#ffffff, #ffffff);
    -fx-text-fill: #ff3333;
}

.chart-legend{
    -fx-font-weight: lighter;
}

.root {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}