/*bar colors*/
.default-color0.chart-bar { -fx-bar-fill: #5DF380; }
.default-color1.chart-bar { -fx-bar-fill: #1760CE; }

.chart {
    -fx-background-image: url("afbeeldingen/backgroundgrey3.jpg");
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;

}
.chart-legend {
    -fx-background-color:  linear-gradient(grey,white);
    -fx-padding: 10px;
}
.chart-legend-item{
    -fx-text-fill: #191970;
}

chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
    -fx-stroke: black;
}
.chart-horizontal-grid-lines {
    -fx-stroke: black;
}
.chart-alternative-row-fill {
    -fx-fill:linear-gradient(red,green);
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
.root {
    -fx-spacing: 20;
    -fx-text-fill: #ffffff;
    -fx-font-style: oblique;
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}